
@{
    ViewData["Title"] = "Infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    <h1>GIỚI THIỆU</h1>
    <div class="infomation-text">
        <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">
            Thành lập vào tháng 8 năm 2015, chỉ trong vòng 5 năm, DOLPHIN đã khẳng định được chỗ đứng vững chắc trên thị trường và trở thành thương hiệu thời trang có tốc độ tăng trưởng nhanh nhất tại Việt Nam với hệ thống cửa hàng với gần 90 showrooms trên toàn quốc; Hàng triệu khách hàng thân thiết; Là nhà bán số 1 về ngành hàng thời trang trên các sàn Thương mại điện tử phổ biến nhất trong nước như: Tiki, Lazada, Shopee, Sendo,… và sắp có mặt tại sàn Thương Mại điện tử lớn nhất Thế Giới Amazon.
        </span>
    </div>
    <div class="banner-text">
        <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">
            <strong>“DOLPHIN PHÁT TRIỂN MÔ HÌNH SIÊU THỊ THỜI TRANG HẠNH PHÚC”</strong>
        </span>
    </div>
    <img class="img-infomation" style="max-width:600px" src="~/images/infomation.jpg" alt="Alternate Text" />
    <div class="bottom-text">
        <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">
            Với mô hình kinh doanh: Siêu thị thời trang hạnh phúc dành cho mọi người, mọi nhà, GUMAC mong muốn người tiêu dùng không chỉ được trải nghiệm sản phẩm chất lượng, không gian mua sắm ấm áp như ở nhà mà họ còn cảm thấy tự hào và hạnh phúc với sản phẩm thời trang đến từ một thương hiệu thuần Việt.
            Tầm nhìn Đến 2030 Gumac sẽ trở thành thương hiệu Thời trang Hạnh phúc Tiên phong dẫn dắt Thế giới bằng triết lý “Giá trị thật và Hạnh phúc đích thực”.
        </span>
    </div>
</div>


